.modal {
    @apply .p-4;

    &_header {
        @apply
            .flex
            .justify-between
            .mb-2;
    }

    &_title {
        @apply.text-2xl;

        color: $third-color;
    }

    &_close {}

    &_body {
        &-restaurant {
            @apply
                .font-bold
                .mb-3;
            color: $main-color;
        }

        &-time, &-details {
            @apply .text-sm;

            color: $font-color;
        }

        &-total {
            @apply
                .font-bold
                .mb-3;

            color: $third-color;
        }

        &-status {
            @apply
                .font-bold
                .text-sm
                .mt-4
                .mb-1;

            color: $font-color;

            &.delivered {
                color: $third-color;
            }

            &.in-transit {
                color: $main-color;
            }
        }

        &-history {
            @apply .text-sm;

            color: $font-color-lighter;
        }

        &-delivery {
            @apply .text-sm;

            color: $font-color-lighter;
        }

        &-product {
            @apply .text-sm;

            color: $font-color;
        }

        &-address {
            @apply .my-3;

            color: $third-color;
        }

    }



    &_footer {
        @apply
            .text-right
            .mt-2;
    }
}
